.container-image {
    width: 100px;
    height: 100px;
    top: 40%;
    left: 45%;
    position: absolute;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
}